*{
    margin:0;
    padding:0;
}


body {
    height: 100vh;
    box-sizing: border-box;
    /* background-image: url('hd-wallpaper-2072271_1920.jpg');  */
    background-color: #B2A4FF;
    color: #000;
}

span {
 font-weight:normal;
 color: #f6f6f6;
}

.apresentacao{
    margin:12%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.apresentacao__conteudo{
    width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 72px;
}

.apresentacao__conteudo__subtitulo{
    font-size: 45px;
}

.apresentacao__conteudo__frase{
    font-size: 24px;
}