body{
	background-image: url('hd-wallpaper-2072271_1920.jpg'); 
} 

div.container{
	width: 100%;
	padding: 30px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	}

.tituloprincipal{
	padding: 48px;
}

h2{
	text-align: center; 
}
#mariana avatar {
	width: width="250px";
}
   
    

p {
	text-align: center;
	font-size: 48px;
}

#missao {
font-size: 48px
} 
strong {
	color: SlateBlue;
}
.Desafios{
		padding: 20px;
}

h3 {
	text-align: center;
}
ul{
	display: inline-block;
	vertical-align: text-top;
	width: 35%;
	margin-right: 30%;
}
.fronback{
	width: 20%;

}